main,
header,
aside {
    display: block;
}


body {
    background-image: url("../images/montain.jpg");
    background-repeat: no-repeat;
    /* Prevent background image from repeating */

    background-size: cover;
    /* Scale the image to cover the size of the container */

    background-attachment: fixed;
    /* Fix the background image when scrolling */
}

header {
    grid-area: header;
    text-align: center;
    color: rgb(25, 135, 203);
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 4px #f7f8f8;
}

aside {
    grid-area: aside;

}

main {
    grid-area: main;
    font-size: 22px;
    color: rgb(252, 252, 252);
    padding-left: 30px;
}

.grid-container {
    display: grid;
    grid-template-areas:

        'header header header header header header'
        'main main main main aside aside'
        'main main main main aside aside'
        'main main main main aside aside';

    grid-gap: .5em;
    margin: auto;
}

video {
    padding-left: 30px;
}

@media screen and (max-width: 60em) {
    header {
        text-shadow: 2px 2px 4px #eaeef2;
        font-size: 18px;

    }
}

@media screen and (max-width: 60em) {
    video {
        max-width: 50%;
        min-width: 370px;

    }
}

@media screen and (max-width: 60em) {
    main {
        font-size: 16px;

    }
}

@media screen and (max-width: 60em) {
    body {
        font-size: 16px;
        background-image: url("../images/m3.webp");
    }
}

.image-container {

    padding-left: 90px;
    padding-top: 50px;
}

.image-container img {
    max-width: 80%;
    min-width: 200px;
    float: left;
    margin-right: .5em;
}