aside,
footer,
header,
nav {
	display: block;
}


body {
	background-color: yellow;
}

header {
	grid-area: header;
	background-color: lightpink;
}

nav {
	grid-area: nav;
	background-color: antiquewhite;
}

nav {
	grid-area: nav;
	background-color: gray;
}

main {
	grid-area: main;
	background-color: rgba(233, 226, 213, 0.115);
	margin-left: auto;
	margin-right: auto;
}

aside {

	grid-area: aside;
	grid-template: auto;
	background-color: bisque;
}

footer {
	grid-area: footer;
	background-color: paleturquoise;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'header header header header header aside'
		'nav nav main main main aside'
		'nav nav main main main aside'
		'nav nav main main main aside'
		'footer footer footer footer footer footer';
	grid-gap: .5em;
	padding: .5em;

	max-width: 62em;
	/* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
	margin: auto;
}

img {
	max-width: 50%;
	min-width: 300px;
	float: left;
	margin-right: .5em;
}



@media screen and (max-width: 60em) {

	body {
		background-color: bisque;
	}

}


@media only screen and (max-width : 50em) {

	body {
		background-color: red;
	}

}


@media only screen and (max-width : 40em) {

	body {
		background-color: green;
	}

}